body {
    padding-top: 70px;
    font-family: sans-serif, Arial;
}

/*  Toolbar  */
#toolbox {
    background-color: #BDBDBD;
    height: 150px;
    width: 100%;
    box-sizing: border-box;
}

#stencilArea {
  background-color: #BDBDBD;
  display: flex;
  height: 100px;
  width: 100%;
}

#stencil {

}

#paperArea {

  height: 500px;
  width: 100%;
}

#paper {

}

button.deleteBtn {
    color: white;
    border: none;
    background-image: url(../images/delete.png);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: middle;
    position: absolute;
    font-weight: bold;
    cursor: pointer;
}

button.addLinkBtn {
    color: white;
    border: none;
    background-image: url(../images/link.png);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    border-radius: 20px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: middle;
    position: absolute;
    font-weight: bold;
    cursor: pointer;
    right: 0px;
}

button.resizeBtn {
  color: white;
  border: none;
  background-image: url(../images/resize.png);
  background-size: 15px 15px;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: middle;
  position: absolute;
  font-weight: bold;
  cursor: pointer;
  right: 0px;
  bottom: 0px;
}



.btnMenu ul {
     position: absolute;
     margin: 1px 0 0 155px;
     width: 130px;
     padding: 0px;
     list-style-type: none;
     height: auto;
}

.btnMenu li {
     line-height: 25px;
     width: 135px;
     padding: 0px 5px 0px 5px;
     margin: -1px 0 0 0;
     text-align: left;
     font-size: 12px;
     color: black;
     background-color: #D8D8D8;
     border-bottom-style: solid;
     border-bottom-width: 1px;
     border-top-style: solid;
     border-top-width: 1px;
     text-decoration: none;
}

.btnMenu li a:link {
    display: block;
    text-align: left;
    font-size: 12px;
    color: black;
    background-color: #D8D8D8;
    text-decoration: none;
}

.btnMenu li:hover {
    display: block;
    width: 135px;
    background-color: #A4A4A4;
    line-height: 25px;
}

#toolboxSection ul {
	display: inline-block;
	list-style: none;
}

#toolboxSection label {
	display: block;
	margin: 10px;
  width: 75px;
  line-height: 1.5em;
}

#toolboxSection input, select {
	display: block;
	margin: -32px 0 0 80px;
  width: 150px;
  background-color: #D8D8D8;
  border: none;
  line-height: 1.5em;
}
