<div class="panel panel-default">
  <div id="paperArea">
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">Node Attributes</div>
  </div>
  <div class="panel-body" id="toolbox">
    <div id="toolboxSection" class="form-inline">
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" id="nodeName"/>
      </div>
      <div class="form-group">
        <label>Domain:</label>
        <select class="form-control" id="domain" disabled>
          <option value="source">Source Model</option>
          <option value="correspondence">Correspondence Model</option>
          <option value="target">Target Model</option>
        </select>
      </div>
      <div class="form-group">
        <label>Type:</label>
        <select class="form-control" id="nodeType">
          <option value="produceNode">Produce Node</option>
          <option value="contextNode">Context Node</option>
          <option value="nacNode">NAC Node</option>
          <option value="constraintNode">Constraint Node</option>
        </select>
      </div>
    </div>
  </div>
</div>
