<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
  <meta charset="UTF-8">
  <title>TGG-Editor</title>

  <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="/jointjs/dist/joint.min.css"/>
  <link rel="stylesheet" type="text/css" href="/css/style.css"/>

  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/lodash/index.js"></script>
  <script src="/backbone/backbone-min.js"></script>
  <script src="/jointjs/dist/joint.min.js"></script>
  <script src="/jointjs/dist/joint.shapes.devs.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/rdfstore/dist/rdfstore.js"></script>

</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="#">TGG Editor</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">Load Rule</a></li>
          <li><a href="#contact">Save Rule</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="" id="stencilArea">
        <div id="stencil"></div>
      </div>
      <div class="" id="paperArea">
        <div id="paper"></div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">Node Attributes</div>
      </div>
      <div class="panel-body" id="toolbox">
        <div id="toolboxSection" class="form-inline">
            <div class="form-group">
              <label>Name:</label>
              <input class="form-control" id="nodeName"/>
            </div>
            <div class="form-group">
              <label>Graph Type:</label>
              <select class="form-control" id="graphType" disabled>
                <option value="source">Source Model</option>
                <option value="correspondence">Correspondence Model</option>
                <option value="target">Target Model</option>
              </select>
            </div>
            <div class="form-group">
              <label>Node Type:</label>
              <select class="form-control" id="nodeType">
                <option value="produceNode">Produce Node</option>
                <option value="contextNode">Context Node</option>
                <option value="nacNode">NAC Node</option>
                <option value="constraintNode">Constraint Node</option>
              </select>
            </div>
          <div class="form-group">
            <label>Domain:</label>
            <input class="form-control" list="domains" name="domains" id="nodeDomain">
            <datalist id="domains">
            </datalist>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">Editor Settings</div>
      </div>
      <div class="panel-body" id="toolbox">
        <div id="toolboxSection" class="form-inline">
          <div class="form-group">
            <label>RuleStore Adresse:</label>
            <input class="form-control" id="endpoint" size="50"/>
          </div>
          <div class="form-group">
            <label>RuleStore NamedGraph:</label>
            <input class="form-control" id="namedGraph" size="50"/>
          </div>
          <br>
          <div class="form-group">
            <label>Source Meta-Model:</label>
            <select class="form-control" id="sourceMetaModel">
              <option value="emptySourceMetaModel">Empty</option>
            </select>
          </div>
          <div class="form-group">
            <label>Target Meta-Model:</label>
            <select class="form-control" id="targetMetaModel"/>
            <option value="emptyTargetMetaModel">Empty</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/js/example_values.js"></script>
  <script src="/js/tggShapes.js"></script>
  <script src="/js/tgg_editor.js"></script>
  <script src="/js/example_graph.js"></script>

</body>

</html>
